.text{
    margin-top: 1rem;
    max-width: 50rem;
    background-color: aliceblue;
}
.container{
    margin-top: 10rem;
  margin-left: 20rem;
}
.title{
    margin-bottom: 1rem;
    max-width: 50rem;
}
.description{
    margin-bottom: 1rem;
    max-width: 50rem;
}
.city{
    margin-bottom: 1rem;
    max-width: 50rem; 
}
.skils{
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
}