.text{
    margin-top: 1rem;
    max-width: 50rem;
    background-color: aliceblue;
}
.container{
 
  margin-left: 20rem;
}
.title{
  
    max-width: 50rem;
}
.description{
    
    max-width: 50rem;
}
.city{
  
    max-width: 50rem; 
}
.skils{
   
    max-width: 50rem;
}
.button{
    max-width: 50rem; 
}